<div>
  <a href="/log-in">log in</a>
  <a href="/sign-up">sign up</a>
  <% if (locals.currentUser) { %>
    <a href="/log-out">log out</a>
  <a href="/new-message">new message</a>
  <a href="/admin">become admin</a>
  <% } %>
</div>
