<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new message</title>
  </head>
  <body>
    <form action="/new-message" method="post">
      <label for="title">title</label>
      <input type="text" name="title" id="title" />
      <label for="text">message</label>
      <textarea type="text" name="text" id="text"></textarea>/>
      <button type="submit">post</button> 
    </form>
  </body>
</html>
