<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title>sign up</title>
  </head>
  <body>
    <h1>sign up</h1>
    <%- include("./partials/errors.ejs") %>
    <form action="/sign-up" method="post">
      <label for="firstName">first name</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        required
        value="<%= locals.prevInput ? locals.prevInput.firstName : '' %>"
      />

      <label for="lastName">last name</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        required
        value="<%= locals.prevInput ? locals.prevInput.lastName : '' %>"
      />

      <label for="username">username</label>
      <input
        type="text"
        name="username"
        id="username"
        required
        value="<%= locals.prevInput ? locals.prevInput.username : '' %>"
      />

      <label for="password">password</label>
      <input type="password" name="password" id="password" />

      <label for="repeatPassword">repeat password</label>
      <input type="password" name="repeatPassword" id="repeatPassword" />


      <button type="submit">sign up</button>
    </form>
  </body>
</html>
